h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: whitesmoke;
    text-decoration: underline;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

body {
    background-image: linear-gradient(#396afc, #2948ff);
    height: 1000px;
}